{
  "diseasePath": "./diseases/",
  "foodPath": "./food/",
  "medicinePath": "./medicine/",
  "friendsPath": "./friends/",
  "enemyPath": "./enemy/",
  "hourDuration": 5,
  "hoursPerDay": 24,
  "daysPerYear": 10,
  "energyDecrease": 1,
  "foodInGarden": 20,
  "cureProbability": 10,
  "friendProbability": 100,
  "enemyProbability": 10,
  "savedDays": 3
}