{
  "diseasePath": "./diseases/",
  "foodPath": "./food/",
  "medicinePath": "./medicine/",
  "friendsPath": "./friends/",
  "enemyPath": "./enemy/",
  "mementoPath": "./saves.sv",
  "attacksPath": "./attacks/",
  "logPath": "./",
  "hourDuration": 5,
  "hoursPerDay": 2,
  "daysPerYear": 1,
  "energyDecrease": 1,
  "foodInGarden": 20,
  "cureProbability": 10,
  "friendProbability": 10,
  "enemyProbability": 10,
  "savedDays": 3
}